* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
    box-sizing: border-box;
}

$main-color: #2b78df;
$secondary-color: #f77896;

.highlited {
    color: var(--main-color);
}
.hide-content {
    width: 100vw;
    height: 100vh;
    background-color: #000000a5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
.ar *{
    font-family: 'Cairo', sans-serif !important;
    direction: rtl !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}